html {
  box-sizing: border-box;
  height:100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


/* Base Styles */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

body  {
  font-family: Merriweather, serif;
  font-size: 1rem;
  min-height: 100%;
  line-height: 160%;
  *zoom: 1;
}
.homescreen {
  position:absolute;

  height: 100%;
  width:100%;

  background-color: #08AD87; 
  background-image: url(images/fallback-gradient.png); 
  
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00461F), to(#08AD87));
  background-image: -webkit-linear-gradient(top, #00461F, #08AD87);
  background-image: -moz-linear-gradient(top, #00461F, #08AD87);
  background-image: -o-linear-gradient(top, #00461F, #08AD87);
}
.menu{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../images/arme1.png);
  background-size: 100% !important;
}
.intro {
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
  position: static;
    text-align: left;
    padding: 3px;
    padding-left: 12%;
    font-size: 105%;
    background: #AFC2C5;
    font-size: x-large;
    font-style: oblique;

}
.subtitle{
  width:100%;
  background-color:#E1F8FE;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:125%;
  color:rgba(24, 27, 26, 0.8);
  font-weight:900;
}
.options, .calibrate {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
  background-image: url(../images/crin.png);
  
}

/*linkul din homescreen*/
.link{
  position:absolute;
  color:antiquewhite;
  top: 15px !important;
  left:15px !important;
}
.homescreenLogo{
  position: absolute;
  margin:auto;
  top:0;
  bottom:5%;
  left:0;
  right:0;
  width:78%;
}
.wrapper{
  text-align: center;
}
.toMenu{
    position:absolute;
    margin:auto;
    left:20%;
    right:20%;
    top:auto;
    bottom:13%;
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0,0,0,.8);
    border: 1px solid #999;
    border: 0 rgba(0,0,0,0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}
.toPractice{
    position:center;
    font-family: inherit;
    font-size: 125%;
    padding: .4em 0.3em;
    margin:3px;
    color: #444;
    color: rgba(24, 27, 26, 0.8);
    border: 1px solid rgba(163, 185, 183, 0.89)!important;
    border: 0 rgba(0,0,0,0);
    background-color: rgba(13, 140, 115, 0.26);
    text-decoration: none;
    border-radius: 2px;
}
.calibrateBtn{
  background-color:#CCB599!important;
}


/*butonul de optiuni*/
.optionsBtn{
    position:absolute;
    top:3%;
    right:4%;

    font-family: inherit;
    font-size: 86%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0,0,0,.8);
    border: 1px solid #999;
    border: 0 rgba(0,0,0,0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}
.gear {
  min-width: 31px;
  min-height: 31px;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  background-image: url(../images/gear.png)!important;
  top: 3%;
  right: 3%;
  background-size: 28px 28px !important;
  padding: 3px 3px !important;
  line-height: 140%;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  background-size: 22px 22px;
  min-width: 28px;
  min-height: 28px;
  background-position: center center;
    background-repeat: no-repeat;
}
/*button back*/
.back {
  position:absolute;
  min-width: 31px;
  min-height: 31px;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  background-image: url(../images/back.png)!important;
  top: 3%;
  left: 3%;
  background-size: 80%!important;
  padding: 3px 3px !important;
  line-height: 140%;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  background-size: 17px 17px;
  min-width: 28px;
  min-height: 28px;
  background-position: center center;
    background-repeat: no-repeat;
}

.divMiddle {
  background: #FCF4DC;
  width: 75%;
  min-width: 310px;
  max-width: 55%;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px 0px black;
  box-shadow: 3px 3px 2px rgba(0,0,0,0.2);
  position: absolute;
  left:8%;
  top:25%;
  margin:auto;
  opacity: .95;
}
.divMenu{
  top:28%!important;
  padding-top:0;
}
ul{
  width:100%;
}

.phoneDown{
  width:85%;
  border-radius:12px;
}
.calibrateImage {
  margin:15px auto;
  position:relative!important;
  display: inline-block;
  margin-top:15px;
}
.calibrateText{
  position: static;
  margin-bottom:10px;
}
.calibrateGif{
  position: absolute;
  top: 30% ;
  left: 40%;
  width:20%;
  height:auto;
}
.noise{
    background:grey;
}
.noiseBtn{
    width:70%;
    position:center;
    font-family: inherit;
    font-size: 300%;
    padding: .4em 0.3em;
    margin:3px;
    color: #444;
    color: rgba(24, 27, 26, 0.8);
    border: 1px solid rgb(255, 255, 255)!important;
    border: 0 rgba(0,0,0,0);
    background-color: rgb(208, 208, 208);
    text-decoration: none;
    border-radius: 2px;
}
.homeDiv{
    top:15%!important;
}