<section  class="options" ng-init="init()">

  <div class="divMiddle homeDiv">

    <p><h1>
        Select the object you want need to find <br />
    </h1></p>
    <ul>
        <li><button class="noiseBtn" ng-click="noiseFunction(1)">Wallet</button></li>
        <li><button class="noiseBtn" ng-click="noiseFunction(2)">Keys</button></li>
        <li><button class="noiseBtn" ng-click="noiseFunction(3)">Watch</button></li>
    </ul>
        <p><h2>Tap once to hear the name of the object, tap twice to make it screem.
        </h2>    
</p>
</div>

</section>