<section class="calibrate" ng-init="init()" ng-click="back()">
  <br />
  <br />
  <br />
  <br />
    <div class="divMiddle noise">
        <center>
            <div class="calibrateImage">
                
                <img src="images/sound.gif" class="" />
              
            </div>
    
            <p>
                Tap anywhere to go back.
            </p>

        </center>


    </div>






  <!--<div class="divMiddle calibrateText">
    <center>
      Before you start practicing, please calibrate your device
      <br />
      <br />
      In order to do this you need to lay down the smartphone on a flat <b style="font-weight:bold!important">standing stil </b> surface.
      <br />
      <br />
      Once ready, you can press the button.
      <button class="toPractice calibrateBtn" ng-click="calibrate()">
        Calibrate!
      </button>
    </center>
  </div>-->
</section>